version : '3.7'

services:
    app:
        build:
            context: ./server
            args:
                BUILD_ENV: "${BUILD_ENV:-production}"
                OVERCOOKED_BRANCH: "${OVERCOOKED_BRANCH:-master}"
                GRAPHICS: "${GRAPHICS:-overcooked_graphics_v2.2.js}"
            shm_size: "5gb"
        shm_size: "5gb"
        environment: 
            FLASK_ENV: "${BUILD_ENV:-production}"
        ports:
            - "80:5000"
            - "5433:5433"
        volumes:
            - data:/app/data
            - /mnt/c/Users/adnan/Desktop/OC/DB/pylsl:/home/adnan/pylsl
volumes:
  data:
        
